body {
  font-family: "Montserrat", sans-serif;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  background-color: #e5e5e5;
  width: 1200px;
  margin: 0 auto;
}

.main-content {
  background-color: #ffffff;
}

h3 {
  color: blueviolet;
}

/* .project {
  margin-bottom: 30px;
}

.about {
}

.education {
}

.work {
} */

.sidebar {
  background-color: #1e2939;
  color: #ffffff;
}
