body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  background-color: #f0efef;
}

/* Основные стили: */

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  padding: 25px;
  margin: 0 auto;
}

.main-content {
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 105px 90px;
}

.about {
  margin-bottom: 30px;
}

.about-position {
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  color: black;
  margin-bottom: 20px;
}

.about-name {
  font-style: normal;
  font-size: 45px;
  font-weight: bold;
  line-height: 55px;
  color: black;
  margin-bottom: 25px;
}

.about-description {
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #595959;
  width: 650px;
}

.permit {
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  color: black;
  margin-bottom: 45px;
}

.permit span {
  color: #fb6d3a;
}

.main-title {
  font-style: normal;
  font-size: 22px;
  font-weight: bold;
  line-height: 27px;
  color: black;
  margin-bottom: 10px;
}

.projects-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: black;
}

.project,
.project-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project-link {
  margin-left: 10px;
}

.project-bracket {
  font-weight: bold;
  color: black;
}

.projects-list {
  padding: 0;
  margin-left: 15px;
}

.project,
.education,
.work,
.certificates {
  margin-bottom: 45px;
}

.work-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;

  line-height: 1.6;
  color: black;
  margin-bottom: 10px;
}

.organization {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.period {
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: black;
}

.work-list {
  padding: 0;
  margin-left: 15px;
}

.work-list-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.institute {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
}

.specialization {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: black;
  margin-bottom: 10px;
}

/* Styles for Certificates */
.school {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #fb6d3a;
  margin-bottom: 10px;
}

.skills {
  font-weight: normal;
}

.course {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: black;
  margin-bottom: 10px;
}

.sidebar {
  background-color: #141d2b;
  padding-top: 40px;
  width: 340px;
}

.my_photo {
  width: 340px;
  margin-bottom: 40px;
}

.contacts,
.tech-skills,
.soft-skills,
.languages {
  margin-left: 55px;
  margin-bottom: 38px;
}

.sidebar-title {
  color: #ffffff;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  line-height: 27px;
  margin-bottom: 15px;
}

.contacts {
  line-height: 24px;
  font-size: 14px;
}

.contacts i {
  margin-right: 16px;
  color: #fff;
  opacity: 0.9;
}

.contacts a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  opacity: 0.5;
}

.sidebar-list {
  padding: 0;
  margin-left: 17px;
}

.sidebar-item {
  color: #fb6d3a;
}

.sidebar-list-text {
  margin-left: 13px;
  color: #fff;
  opacity: 0.9;
  line-height: 24px;
  font-size: 14px;
}

/* Mobile version*/
@media screen and (max-width: 700px) {
  body {
    display: flex;
  }

  /* Main */

  .main-content {
    width: 100%;
    padding: 10px;
  }
  .main {
    flex-direction: column;
    margin: 20px;
  }

  .about-name {
    font-size: 34px;
    margin: 25px 25px;
  }

  .about-description {
    width: 80%;
    margin: 25px 25px;
  }

  .permit {
    margin: 25px 25px;
  }

  .about-position {
    font-size: 14px;
    margin: 25px 25px;
  }

  .main-title,
  .work-position,
  .period,
  .institute,
  .specialization {
    margin: 25px 25px;
  }

  .projects-item {
    margin: 5px 5px;
    list-style: none;
  }
  .work-list-item {
    width: 80%;
    margin-left: 25px;
  }

  .course {
    display: table;
    margin-left: 25px;
    line-height: 1.7;
    margin-bottom: 25px;
    width: 80%;
  }

  /* Aside */

  .sidebar {
    width: 105%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
  }

  .sidebar img {
    width: 80%;
    margin-left: 30px;
  }

  .contacts {
    margin-right: 0;
    margin-left: 30px;
  }

  .tech-skills,
  .languages {
    margin-right: 0;
    margin-left: 30px;
  }
  .soft-skills {
    display: none;
  }
}
